<span
  data-controller="clipboard"
  class="d-none text-truncate d-md-flex align-items-center"
>
  <i class="fa-solid fa-code-branch" style="color: <%= branch_color(branch_name) %> !important;"></i>
  <%= tag.a(
    branch_name,
    class: %w[text-body text-decoration-none text-truncate mx-1 small],
    data: {
      clipboard_target: "source",
      action: "clipboard#copy",
      bs_toggle: "tooltip",
      bs_custom_class: "x-wide-tooltip",
      bs_title: branch_name,
    },
    style: "cursor: grab;",
  ) %>
  <%= render "shared/clipboard_button" %>
</span>
