<%= render "link",
title: "\##{issue.iid}",
web_url: issue.webUrl,
data: {
  bs_toggle: "tooltip",
  bs_html: "true",
  bs_custom_class: "x-wide-tooltip",
  bs_title: issue.titleHtml,
} %>

<div>
  <%= render partial: "gitlab_label",
  spacer_template: "space",
  collection: issue.contextualLabels,
  as: :label %>
</div>
