<div class="bg-gradient p-3 mx-auto mt-4" style="width: fit-content;">
  <% mr_list_panel_class = %w[table-responsive shadow align-middle rounded p-2 bg-body bg-gradient mt-5] %>

  <%= tag.div(class: mr_list_panel_class) do %>
    <%= render "open_merge_requests", merge_requests: open_merge_requests %>
  <% end %>

  <%= tag.div(class: mr_list_panel_class) do %>
    <%= render "merged_merge_requests", merge_requests: merged_merge_requests %>
  <% end %>
</div>
