  <div class="table-responsive-sm">
    <%= render "open_merge_requests", merge_requests: open_merge_requests %>

    <hr/>

    <%= render "merged_merge_requests", merge_requests: merged_merge_requests %>
  </div>
