<%= turbo_frame_tag(@dto, :merge_requests) do %>
  <div data-controller="bootstrap-tooltip">
    <%= render "user_merge_requests",
    open_merge_requests: @dto.open_merge_requests,
    merged_merge_requests: @dto.merged_merge_requests %>
  </div>

  <script>
    <% next_update_remaining_secs = @dto.next_update_at ? 5.seconds.after(@dto.next_update_at) - Time.current : 0 %>

    setTimeout(function(){
      document.getElementById("<%= dom_id(@dto, :merge_requests) -%>").reload();
    }, <%= (next_update_remaining_secs.clamp(10, 60) * 1000).round.to_i %>);
  </script>
<% end %>
