<nobr>
  <%= link_to title, web_url, target: "_blank" %>
  <button
    class="btn btn-sm float-right"
    style="--bs-btn-padding-y: 0; --bs-btn-padding-x: 0"
    data-bs-toggle="tooltip"
    data-bs-title="Click to copy"
    onclick="navigator.clipboard.writeText('<%= title %>')"
  >
    <i class="fa fa-clipboard" aria-hidden="true"></i>
  </button>
</nobr>
