<% links = local_assigns[:links] %>

<% if links.present? %>
  <div class="btn-group d-none d-sm-inline">
    <button
      type="button"
      class="btn dropdown-toggle text-bg-dark"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Links
    </button>
    <ul class="dropdown-menu">
      <% links.each do |link| %>
        <li><%= link_to(
            link[:name],
            link[:url],
            class: "dropdown-item",
            target: URI.parse(link[:url]).absolute? ? "_blank" : nil,
          ) %></li>
      <% end %>
    </ul>
  </div>
<% end %>
