<% links = local_assigns[:links] %>

<% if links.present? %>
  <div class="btn-group d-none d-sm-inline">
    <button
      type="button"
      class="btn btn-secondary dropdown-toggle"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Links
    </button>
    <ul class="dropdown-menu">
      <% links.each do |link| %>
        <li><%= link_to(link[:name], link[:url], class: "dropdown-item", target: "_blank") %></li>
      <% end %>
    </ul>
  </div>
<% end %>
