$enable-gradients: true;
$enable-shadows: true;

@import '../../../node_modules/bootstrap/scss/bootstrap';
@import '../../../node_modules/bootstrap-icons/font/bootstrap-icons.css';
@import '../../../node_modules/flag-icons/css/flag-icons.min.css';

body { background: $gray-200 !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
@if $enable-gradients {
  .table th, td {
    background-color: transparent !important;
  }
}

// Cheap dark mode for charts
.dark-canvas {
  filter: invert(1) hue-rotate(180deg);
}

.wide-tooltip {
  --bs-tooltip-max-width: 400px !important;
}

.x-wide-tooltip {
  --bs-tooltip-max-width: 800px !important;
}

.wide-popover {
  --bs-popover-max-width: 400px !important;
}

.x-wide-popover {
  --bs-popover-max-width: 800px !important;
}

.tooltip-inner {
  text-align: left;
}

.bg-review-unreviewed { background-color: $blue-500 }
.text-review-unreviewed { color: $white }

.bg-review-review-started { background-color: $indigo-200 }
.text-review-review-started { color: $black }

.bg-review-requested-changes { background-color: $red-700 }
.text-review-requested-changes { color: $white }

.bg-review-reviewed { background-color: $yellow }
.text-review-reviewed { color: $white }

.bg-review-approved { background-color: $green-300 }
.text-review-approved { color: $white }

.bg-review-unapproved { background-color: $orange-400 }
.text-review-unapproved { color: $black }

// Last comment
.fade-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;             /* Limit to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
  mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
}

.fade-text.expanded {
  -webkit-line-clamp: unset;
  mask-image: none;
  -webkit-mask-image: none;
}

.toggle-link {
  cursor: pointer;
  color: $blue-400;
  text-decoration: underline;
  font-size: 0.9rem;
}

.last-comment-width {
  width: 10% !important;
  max-width: 30em;
}

.gl-label {
  align-items: center;
  background-color: #fff;
  overflow: hidden;
  display: inline-flex
}

.gl-label {
  border-radius: .75rem;
  position: relative;
  max-width: 100%
}

.gl-label {
  font-size: 0.75rem;
  line-height: 1rem;
  box-shadow: var(--label-inset-border) !important
}

.gl-label:not(.gl-label-scoped) {
  background-color: var(--label-background-color)
}

.gl-label:has(*:first-child:focus) {
  box-shadow: inset 0 0 0 1px var(--label-background-color, #fff),0 0 0 1px #fff,0 0 0 3px $blue-400 !important;
  outline: none !important
}

.gl-label-scoped {
  box-shadow: 0 0 0 2px currentColor inset;
}

.gl-label-scoped .gl-label-text {
  background-color: var(--label-background-color)
}

.gl-label-scoped .gl-label-text-scoped {
  color: #fff;
  padding-left: .25rem;
  padding-right: .5rem;

	background-color: #000000;
  box-shadow: var(--label-inset-border) !important;
	border-radius: 0 0.75rem 0.75rem 0;
}

.gl-label .gl-label-text, .gl-label .gl-label-text-scoped {
  display: block;
  padding: .125rem .375rem;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
  white-space: nowrap;
  max-width: 100%;
}

.gl-label-text-light {
  color: #fff;
}

.gl-label-text-dark {
  color: #18171d;
}

.gl-label .gl-label-link {
  display: flex;
  font-weight: 400;
  overflow: hidden;
  color: inherit;
  max-width: 100%;
}

.gl-label .gl-label-link-underline {
  text-decoration: none;
}

.gl-label .gl-label-link-underline:hover .gl-label-text,.gl-label .gl-label-link-underline:hover .gl-label-text-scoped,.gl-label .gl-label-link-underline:focus .gl-label-text,.gl-label .gl-label-link-underline:focus .gl-label-text-scoped,.gl-label .gl-label-link-underline:focus:active .gl-label-text,.gl-label .gl-label-link-underline:focus:active .gl-label-text-scoped {
  text-decoration: underline
}

